<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title fs-2"><%= @article.title %></h5>
      <p class="card-text fs-5"><%= @article.content %><%= @article.content %></p>
      <%= link_to "Update this article", edit_article_path(@article), class: "card-link link-secondary" %>
      <%= link_to "Delete this article", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this entry?"}, class: "card-link link-secondary" %>
      <%= link_to "Back", articles_path, class: "card-link link-secondary" %>
    </div>
  </div>
</div>
